.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    align-items: center;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  .imagenprincipal {

border: 5px solid white;
width: 100%;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
  
  .poster{
  width: 70%;
  margin-left: 20%;
  margin-top: 100px;
  

  }